.wrap {
    max-width: 1440px;
   /* overflow: hidden;*/
    margin: 0 auto;
}
.container {
    padding: 0 30px;
    margin: 0 auto;
}

.sale {
    color: #B8B8B8;
    font-family: $OpenSans;
    font-size: 1.7rem;
    line-height: 1.9; 
    letter-spacing: 0.36px;
    text-decoration: line-through;
}
.supersale {
    color: $medium-gray;
    font-family: $OpenSans;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.8; 
    letter-spacing: 0.36px;
    padding-left: 10px;
    padding-right: 80px;
}
.stars {
    svg {
        fill: #FFA858;
    }
}