//color 
$lite-green: #7EB693;
$dark-green: #335B6B;
$lite-gray: #525C60;
$medium-gray: #274C5B;
$yellow: #EFD372;
$white: #fff;

//fonts
$Roboto: 'Roboto', sans-serif;
$OpenSans: 'Open Sans', sans-serif;
$Yellowtail: 'Yellowtail', sans-serif;