.footer {
    padding-bottom: 85px;

    &__row {
        display: flex;
        gap: 20px;
        height: 370px;
    }

    &__left {
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        text-align: end;
        width: 350px;
    }

    &__list {
        &_caption {
            padding-top: 14px;
            color: $lite-gray;
            font-family: $OpenSans;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.3; 
            letter-spacing: 0.36px;
            padding-bottom: 6px;
        }

        &_item {
            padding-bottom: 25px;
            color: $lite-gray;
            font-family: $OpenSans;
            font-size: 1.8rem;
            line-height: 1.6;
            letter-spacing: 0.36px;
        }        
    }

    &__center {
        display: flex;
        flex-direction: column;
        width: 700px;
        align-items: center;
        border-left: 1px solid $lite-gray;
        border-right: 1px solid $lite-gray;
    }

    &__text {
        padding-top: 40px;
        padding-bottom: 60px;
        text-align: center;
        max-width: 567px;
        color: $lite-gray;
        font-family: $OpenSans;
        font-size: 1.8rem;
        line-height: 1.8;
        letter-spacing: 0.36px;
    }

    &__socials {
        display: flex;
        gap: 20px;
        margin: 0 auto;
        
        &_link {
            height: 60px;
            width: 60px;
            background: #EFF6F1;
            border-radius: 100px;
            position: relative;
        }

        &_img {
            position: absolute;
            left: 20px;
            top: 20px;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        width: 335px;
        height: 240px;
        padding-right: 0px;        
    }

    &__box {
        &_item {
            font-family: $OpenSans;
            font-size: 1.8rem;
            line-height: 1.6;
            letter-spacing: 0.36px;
            padding-bottom: 25px;
        }
        
        &_item a {
            text-decoration: none;
            color: $lite-gray;
        }
    }

    &__title {
        padding-bottom: 20px;
        color: $medium-gray;
        font-family: $Roboto;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.4;
        letter-spacing: 0.36px;
    }   
}